* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: #0D100D;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    color: #ba7e0d;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: #B9C6AE;
    padding: 15px;
    border: 2px, ridge, #757780;
    border: 2px, ridge, #757780;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #757780;
    padding: 10px;
    border: 2px, ridge, #757780;
    border: 2px, ridge, #757780;
}

.hamburger {
    display: none;
}

.hero {
    height: 100vh;
    background: url(body\ backgroung\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {

    padding: 4rem 20px;
    text-align: center;
    background-color: #474056;
}

#about,
#menu {
    background-color: #f4f4f4;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    flex: 1;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 2rem;
    }
}

#about p {
    background-color: cadetblue;
    border: 2px, ridge, black;
}